/* Réinitialisation des styles de base */
* {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    color: #2b2b2b;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le titre */
h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 3rem;
    /* Ajusté la taille de police */
}

/* Styles pour le conteneur principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 32px auto;
}

/* Styles pour le message */
#msg {
    font-size: 1.5rem;
    width: 60%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

/* Styles pour l'auteur */
em {
    font-size: 1.25rem;
    color: gray;
    margin-top: 8px;
    display: block;
}

/* Styles pour le bouton */
#generateButton {
    background-color: #2672a5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25rem;
    transition: background-color 0.3s ease;
    margin-top: 16px;
    /* Espacement du bouton */
}

/* Styles pour le bouton au survol */
#generateButton:hover {
    background-color: #428ec0;
}